{% extends "registration/base.html" %}
{% block content %}
{{ form.non_field_errors }}
    <div class="container">
		<form role="form" action="{%url 'password_change'%}" method="post">
		  {% csrf_token %}
		  <div class="form-group">
			<label for="id_old_password">旧密码:<font color="red">{{ form.old_password.errors }}</font></label>
			<input type="password" class="form-control" id="id_old_password" name="old_password">
		  </div>
		  <div class="form-group">
			<label for="id_new_password1">新密码:<font color="red">{{ form.id_new_password1.errors }}</font></label>
			<input type="password" class="form-control" id="id_new_password1" name="new_password1">
		  </div>
		  <div class="form-group">
			<label for="id_new_password2">新密码确认:<font color="red">{{ form.new_password2.errors }}</font></label>
			<input type="password" class="form-control" id="id_new_password2" name="new_password2">
		  </div>
		  <button type="submit" class="btn btn-primary">提交</button>
		</form>
    </div><!-- /.container -->
{% endblock %}

